<app-shared-resource-list
    [resources]="baseCompanyResources"
    (getResourcesEventEmitter) = (getBaseCompanyResources($event))
    (deleteResourceEventEmitter) = (deleteBaseCompanyResource($event))
    (openCreateResourceFormEventEmitter) = (openCreateBaseCompanyResourceForm())
    (openUpdateResourceFormEventEmitter) = (openUpdateBaseCompanyResourceForm($event))
    (handleResourceFormCloseEventEventEmitter) = (handleBaseCompanyResourceFormCloseEvent($event))
    (exportExcelEventEmitter) = (exportExcel())
    (openResourceImportFormEventEmitter) = (openBaseCompanyResourceImportForm())
    (handleResourceImportFormCloseEventEventEmitter) = (handleBaseCompanyResourceImportFormCloseEvent())
    
    [totalRecords] = "totalRecords" 
    [rootPathSegment] = "rootPathSegment" >

</app-shared-resource-list>>



<p-dialog header="Import Base Company Resource" 
    [(visible)]="showBaseCompanyResourceImportForm" 
    [style]="{width: '600px', height: '700px'}" 
    (onHide)="handleBaseCompanyResourceImportFormCloseEvent()" 
    >
    <app-import
        [whichResource]="'basecompanyresource'"
        >

    </app-import>

</p-dialog>