<div class="wrapper">

    <div class="card-create" >
            <div class="create-button">

                <button pButton class="rounded-button" (click)="gotoBoqCreate()">
                    <i class="pi pi-plus"></i>
                </button>
            </div>
            <div>
                CREATE
            </div>
    </div>

    <p-card class="card" title="BOQ" *ngFor="let boq of boqs" header="{{boq.project_object?.name_tm}}"
        subheader="Registered BOQ" [style]="{ width: '360px' }">
        <!-- <ng-template pTemplate="header"> -->
        <!-- {{boq.contract_number}} -->
        <!-- <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" /> -->
        <!-- </ng-template> -->
        <p>
            Registered BOQ - {{boq.contract_number}}
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Detail" icon="pi pi-list" (onClick)="gotoBoqItems(boq.id!)"></p-button>
            <p-button label="Materials" icon="pi pi-truck" styleClass="p-button-secondary"
                (onClick)="gotoBoqMaterials(boq.id!)" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
    <!-- </div> -->
</div>