<app-shared-boq-item-list
    [boqItems]="baseBoqItems"
    (getBoqItemsEventEmitter) = (getBaseBoqItems($event))
    (deleteBoqItemEventEmitter) = (deleteBaseBoqItem($event))
    (openCreateBoqItemFormEventEmitter) = (openCreateBaseBoqItemForm())
    (openUpdateBoqItemFormEventEmitter) = (openUpdateBaseBoqItemForm($event))
    (handleBoqItemFormCloseEventEventEmitter) = (handleBaseBoqItemFormCloseEvent($event))
    (openConsumptionListEventEmitter) = (openConsumptionList($event))
    (exportExcelEventEmitter) = (exportExcel())
    (openBoqItemImportFormEventEmitter) = (openBaseBoqItemImportForm())
    (handleBoqItemImportFormCloseEventEventEmitter) = (handleBaseBoqItemImportFormCloseEvent())
    [totalRecords] = "totalRecords" 
    [rootPathSegment] = "rootPathSegment" 

    [wantBaseTrade] = "true" 
    [wantBaseLot] = "true" 
    >




</app-shared-boq-item-list>

<p-dialog header="Import Base Boq Item" 
    [(visible)]="showBaseBoqItemImportForm" 
    [style]="{width: '600px', height: '700px'}" 
    (onHide)="handleBaseBoqItemImportFormCloseEvent()" 
    >
    <app-import
        [whichResource]="'baseboqitem'"
        >

    </app-import>

</p-dialog>
