<div class="wrapper">
    

    <button pButton (click)="navigateToCompanies()">
        Companies
    </button>

    <button pButton (click)="navigateToBaseBoqItems()">
        Base BOQ Items
    </button>

    <button pButton (click)="navigateToBaseResources()">
        Base Resources
    </button>

    <button pButton (click)="navigateToBaseUnits()">
        Base Units
    </button>

    <button pButton (click)="navigateToBaseTrades()">
        Base Trades
    </button>

    <button pButton (click)="navigateToBaseLots()">
        Base Lots
    </button>

    <button pButton (click)="navigateToBaseCountries()">
        Base Countries
    </button>

    <button pButton (click)="navigateToBaseCurrencies()">
        Base Currencies
    </button>

</div>