<app-filter-search
    [wantTrade] = "wantTrade" 
    [wantLot] = "wantLot" 
    [wantCountry] = "wantCountry" 

    [wantBaseTrade] = "wantBaseTrade" 
    [wantBaseLot] = "wantBaseLot" 
    [wantBaseCountry] = "wantBaseCountry" 

    [wantBaseCompanyTrade] = "wantBaseCompanyTrade" 
    [wantBaseCompanyLot] = "wantBaseCompanyLot" 
    [wantBaseCompanyCountry] = "wantBaseCompanyCountry" 
    
    (filterChangeEventEmitter)="handleFilterChange()" 
    (searchSubmitEventEmitter)="handleSearchSubmit()" 
    (clearSearchEventEmitter)="handleClearSearch()"
    >
</app-filter-search>

<p-table
    [value]="boqItems"
    [tableStyle]="{ 'min-width': '50rem' }"
>

<ng-template pTemplate="caption">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button label="Add Boq Item" icon="pi pi-plus" (onClick)="openCreateBoqItemForm()"></p-button>

        </div>
        <div class="p-toolbar-group-end">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom" label="Export To Excel">
            </button>

            <button type="button" pButton pRipple icon="pi pi-upload" (click)="openBoqItemImportForm()"
                class="p-button-warning  ml-auto" pTooltip="PDF" tooltipPosition="bottom" label="Import From Excel">
            </button>
        </div>

    </p-toolbar>
</ng-template>


    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">Id</th>
            <th style="width:25%">Name</th>
            <th style="width:5%">Quantity</th>
            <th style="width:5%">Unit</th>
            <th style="width:10%">Material Unit Price</th>
            <th style="width:10%">Labor Unit Price</th>
            <th style="width:3%"></th>
            <th style="width:3%"></th>
            <th style="width:3%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-boqItem>
        <tr>
            <td>{{ boqItem.id }}</td>
            <td>{{ boqItem.name_tm }}</td>
            <td>{{ boqItem.quantity }}</td>
            <td>{{ boqItem.unit_object?.code_tm }}</td>
            <td>{{ boqItem.material_unit_price }}</td>
            <td>{{ boqItem.labor_unit_price }}</td>
            <td>
                <p-button icon="pi pi-pencil" severity="info" 
                (onClick)="openUpdateBoqItemForm(boqItem)"></p-button>
            </td>
            <td>
                <p-button [style]="{'margin-left': '5px', 'margin-right': 'px'}" icon="pi pi-times" 
                (onClick)="deleteBoqItem(boqItem.id!)" severity="danger"></p-button>

            </td>
            <td>
                <p-button [style]="{'margin-left': '5px', 'margin-right': 'px'}" icon="pi pi-list" 
                (onClick)="openConsumptionList(boqItem)" severity="info" label="Consumptions"></p-button>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
<!-- 
<p-dialog header="Import  Boq Item" 
    [(visible)]="showBoqItemImportForm" 
    [style]="{width: '600px', height: '700px'}" 
    (onHide)="handleBoqItemImportFormCloseEvent()" 
    >
    <app-import
        [whichResource]="'baseboqitem'"
        >

    </app-import>

</p-dialog> -->

<p-paginator 
    #paginator
    [first]="first"
    [rows]="rows" 
    [totalRecords]="totalRecords" 
    [rowsPerPageOptions]="[5,10,20,50]" 
    (onPageChange)="onPageChange($event)"
    >
    <!-- [first]="filterSearchComponent.first"
    [rows]="filterSearchComponent.rows" 
    [totalRecords]="filterSearchComponent.totalRecords" 
    [rowsPerPageOptions]="[10,20,50]" 
    (onPageChange)="onPageChange($event)" -->
</p-paginator>
