<div class="wrapper">
    

    <button pButton (click)="navigateToBOQs()">
        BOQs
    </button>

    <button pButton (click)="navigateToBoqItems()">
        BOQ Items
    </button>

    <button pButton (click)="navigateToResources()">
        Resources
    </button>

    <button pButton (click)="navigateToUnits()">
        Units
    </button>

    <button pButton (click)="navigateToTrades()">
        Trades
    </button>

    <button pButton (click)="navigateToLots()">
        Lots
    </button>

    <button pButton (click)="navigateToCountries()">
        Countries
    </button>

    <button pButton (click)="navigateToCurrencies()">
        Currencies
    </button>

</div>