<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <form class="card-body" [formGroup]="loginForm" (submit)="onFormSubmit()">
                <h1>Authentication</h1>
                <p class="text-muted">Sign into your account</p>
                <div class="field col-12 md:col-4 mb-4">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                      </span>
                      <input class="p-inputtext p-component p-element" placeholder="Login" type="text" id="username" pInputText formControlName="username"> 
                  </div>
                </div>
                <div class="field col-12 md:col-4 mb-4">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon">
                          <i class="pi pi-lock"></i>
                      </span>
                      <input class="p-inputtext p-component p-element" placeholder="Mot de passe" type="password" id="password" pInputText formControlName="password"> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <p-button class="" type="submit" [disabled]="!loginForm.valid" label="Se connecter"></p-button>
                  </div>
                  <div class="col-6 text-right">
                    <button pButton pRipple type="button" label="Mot de passe oublié ?" class="p-button-text px-0"></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width: 44%;">
              <div class="card-body text-center">
                <div>
                  <h2>SSO Access</h2>
                  <p>Log in without entering your email address and password.</p>
                  <p-button class="mt-3" (click)="onSsoLogin()" label="Login SSO"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
