<div class="wrapper">
    

    <button pButton (click)="navigateToProjects()">
        Projects
    </button>

    <button pButton (click)="navigateToCompanyUnits()">
        Company Units
    </button>

    <button pButton (click)="navigateToCompanyTrades()">
        Company Trades
    </button>

    <button pButton (click)="navigateToCompanyLots()">
        Company Lots
    </button>

    <button pButton (click)="navigateToCompanyCountries()">
        Company Countries
    </button>

    <button pButton (click)="navigateToCompanyCurrencies()">
        Company Currencies
    </button>

    <button pButton (click)="navigateToCompanyBoqItems()">
        Company BOQ Items
    </button>

    <button pButton (click)="navigateToCompanyResources()">
        Company Resources
    </button>

</div>